################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hangman/FileContentIndex/3603c2d2-0eb9-4cab-be40-ab96ec1cadf0.vsidx
/.vs/Hangman/FileContentIndex/6819b918-4a58-4b50-bce8-99393483dbbf.vsidx
/.vs/Hangman/FileContentIndex/14f76ce5-7874-4d44-adcb-6b15cd0ca678.vsidx
/.vs/Hangman/FileContentIndex/05dc105d-df3e-4ff7-b747-a850c736c1fd.vsidx
/.vs/Hangman/FileContentIndex/7c11d847-1545-4eb6-914f-0ba3c70339e4.vsidx
/.vs/Hangman/FileContentIndex/d3c9cca0-e5f2-4138-9847-187eeec076ef.vsidx
/.vs/Hangman/FileContentIndex/f61b3b54-668d-4fd4-8827-6eb15eeab911.vsidx
/.vs/slnx.sqlite
/.vs/Hangman/FileContentIndex/b77f9b61-46cb-4289-9045-cab3df8fdcd6.vsidx
